@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    @include gradient;

    .navbar-brand {
        font-weight: 600;
        font-size: 1.5rem;
    }

    li {
        padding: 0 0.7rem;

        a {
            color: $white !important;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}